@import '~bootstrap/scss/bootstrap';


.form-img {
    width: 60px;
    height: auto;

    object-fit: contain;
}


// ----------------------
// footer

.footer {
    .__h2,
    .fas,
    .fab {
        color: #8d1616;
    }

    .container.py-5.text-center{
        background-color: #191c1fef;
    }
    
  

    .copyright {
        border-top: 2px solid #8d1616;
        background-color: #000000;
    }

    section.d-flex.justify-content-center.justify-content-lg-between.p-4 {
        border-bottom: 5px solid #8d1616;
        border-top: 5px solid #8d1616;

    }
}

// /footer
// ----------------------


// ----------------------
// Nav

.nav{



    img {
        width: 250px;
    }

    nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
        font-weight: bold;
        background-color: black !important;
    }

    .navbar-brand.d-flex.align-items-center {
        font-size: 35px;
        color: white;
    }

    .nav-link {
        color: white
    }

    button.navbar-toggler {
        border: 1px solid white;
        background-color: white;
    }
}

@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
        flex-basis: auto;
    }

}


// /Nav
// ----------------------




// ----------------------
// /Welcome

body{
    background-image: url('/img/sfondo.jpg');
}
.welcome {
    .jumbo-image {
        height: 500px;
        background-image: url('/img/samantha-fields-tMD6iP9fWF4-unsplash.jpg');
        background-size: cover;

    }

    .inner-jumbo {
        height: 100%;
        width: auto;
        padding: 50px;
        color: white;
        background-color: rgba(0, 0, 0, 0.295);
    }

    .text-center.btn {
        color: white;
        background-color: #8d1616;
    }

    .fa-solid {
        color: #8d1616;
        font-size: 100px
    }



    .container.py-5.text-center{
        background-color: #191c1fef;
    }
    
  
}

// /Welcome
// ----------------------






// ----------------------
// Aside

.aside {

}

// /Aside
// ----------------------



// ----------------------
// Product Index

.product-index {

    .product-image {
        height: 300px;
        object-fit: cover;
        background-color: #e6e6e6;
    }

    .cont {
        position: relative
    }

    .button-1 {

        position: absolute;
        left: 15px;
        top:-10px;
    }

    .button-2 {
        
        position: absolute;
        right: 15px;
        top:-10px;
    }
}
// /Product Index
// ----------------------






// /Product Show
// ----------------------

.product-show {
    .cont {
        position: relative
    }

    .button-1 {

        position: absolute;
        left: 15px;
        top:-10px;
    }

    .button-2 {
        
        position: absolute;
        right: 15px;
        top:-10px;
    }
}
// ----------------------
// Product Show











// ----------------------
// Restaurant Index

.restaurant-image {
    width: 2000px;
    height: 350px;
    object-fit: cover;
    background-color: #e6e6e6;
}

// /Restaurant Index
// ----------------------


// ----------------------
// Restaurant Show

.show-restaurant {

    .cover {
        width: 100%;
        height: 350px;
        object-fit: cover;
        background-color: #e6e6e6;
    }
    
    .logo{
        width: 90px;
    }

    .cont {
        position: relative
    }

    .button-1 {

        position: absolute;
        left: 15px;
        top:-10px;
    }
        
    .button-2 {

        position: absolute;
        right: 15px;
        top:-10px;
    }
}
// /Restaurant Index
// ----------------------





// Statistics Index
// ----------------------

.statistics-index {
    .cont {
        position: relative;
    }
    
    .spinner {
        position: absolute;
        top: 50%;
        right: 50%;
        translate: 50% 50%;
    }
}


// /Restaurant Index
// ----------------------

